<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="background">
        <div class="border">
            <main class="container">
                <section>
                    <h1>Login</h1>
                    <p>Access your account to reserve items, manage listings, and view messages.</p>
                    <form action="/login" method="POST">
                        <div class="formGroup">
                            <label for="login-username">Username</label><br>
                            <input id="login-username" name="username" type="username" placeholder="">
                        </div>
                        <div class="formGroup">
                            <label for="login-password">Password</label><br>
                            <input id="login-password" name="password" type="password" placeholder="••••••••">
                        </div>
                        <div class="mainButtons">
                            <button type="submit" class="btn btnPrimary">Log In</button>
                            <a href="/signup" class="btn btnSecondary">Create Account</a>
                        </div>
                    </form>
                </section>
            </main>
        </div>
    </div>

</body>
</html>
