<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="../public/stylesheets/user_list.css">
</head>
<body>
    <header class="navbar">
        <div class="container navContent">
            <a href="../index.html" class="logo">Rental Center</a>
            <nav>
                <ul class="navLinks">
                    <li><a href="admin_home.html">Home</a></li>
                    <li><a href="browse.html">Browse</a></li>
                    <li><a href="reports_dashboard.html">Reports</a></li>
                    <li><a href="user_list.html" class="active">Users</a></li>
                    <li><a href="admin_inbox.html">Inbox</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="background">
        <div class="border">
            <div class="container">
                 <h1>User List</h1>
                 <table class="user-table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Ban</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TheRenter</td>
                            <td>Steve Jobs</td>
                            <td>Imemployed@hotmail.com</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
    
</body>
</html>