ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-family: Arial;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* 100 percent of the viewpoint (browser page) */
}

.container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

p {
    margin-bottom: 0 0 16px 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
    padding: 10px;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2563EB;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 32px;
}

.navLinks a {
    font-weight: bold;
    color: #6B7280;
}

.navLinks a:hover,
.navLinks a.active {
    color: #2563EB;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
}

.btnPrimary {
    background-color: #2563EB;
    color: white;
}

.btnPrimary:hover {
    background-color: #1D4ED8;
}

.btnSecondary {
    background-color: white;
    color: #1F2937;
    border: 1px solid #E5E7EB;
}

.btnSecondary:hover {
    background-color: #dadfe4;
}

.mainBody {
    padding: 10px;
    text-align: center;
}

.mainContent {
    max-width: 600px;
    margin: auto;
}

.mainBody p {
    color: #6B7280;
    font-size: 18px;
    margin-bottom: 32px;
}

.mainButtons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 10px;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.border {
    padding: 20px;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}

.infoCard {
    background-color: #f4f4f4;
    border: 1px solid #c9ced8;
    border-radius: 8px;
    padding: 20px;
    margin: 25px auto 10px auto;
    max-width: 400px;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.infoRow {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 2px solid #000000;
}

.infoLabel {
    font-weight: bold;
    color: #4b5563;
}

.infoValue {
    color: #111827;
}